@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import custom font */
@font-face {
  font-family:  "Figtree", sans-serif;
  src: url('./assets/FontFamily/Figtree-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* general rules */
:root{
  --color-primary: #965E47;
  --color-secondary: #F8F8F8;
  --color-tertiary: #F2F2F2;
  --sizes-and-colors-bg: #f2f2f2;
  --title:1.5rem;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: "Figtree", sans-serif;
  background-color: var(--color-secondary);
}

