@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import custom font */
@font-face {
  font-family:  "Figtree", sans-serif;
  src: url('./assets/FontFamily/Figtree-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* general rules */
:root{
  --color-primary: #965E47;
  --color-secondary: #F8F8F8;
  --color-tertiary: #F2F2F2;
  --sizes-and-colors-bg: #f2f2f2;
  --title:1.5rem;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: "Figtree", sans-serif;
  background-color: var(--color-secondary);
}
input{
  all: unset;
}
/* Custom Scrollbar for WebKit Browsers */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: white; /* Color of the scrollbar track (background) */
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary); /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #f0f0f0; /* Adds padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(150, 94, 71, 0.8); /* 0.6 opacity of color primary when hovering over the thumb */
}
.Espece:focus-within .placeholder,.Redection:focus-within .placeholder {
  top: 0px;
}




